@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #f1f1f1f1;
}

svg {
    display: inline;
}

.custom-font-14 {
    font-size: 14px;
}

.custom-font-16 {
    font-size: 16px;
}